<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title></title>
</head>
<body>
  <h1>Developer Skills</h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <a href="/skills/<%= skill._id %>"><%= skill.skill %></a> --- 
        <%= skill.hasSkill ? 'Of course I can do this I am a quarter way through a boot camp' : 'This is too advanced for my current level'%>
      </li>
    <% }) %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>
